.jumbotron {
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  margin-bottom: 0; }

.jumbotron img {
  border: solid 1px black; }

.navbar {
  background-color: #ba83ca;
  margin-bottom: 10px; }

#donateModal .modal-header {
  background-color: #d16ba5; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #8aa7ec; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

.card-header {
  color: #79b3f4;
  font-weight: bold; }

.site-footer {
  margin-top: 25px; }
